[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-nested-routers = "*"
python-dotenv = "*"
mysqlclient = "*"
djoser = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.10"
