[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-nested-routers = "*"
python-dotenv = "*"
mysqlclient = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-debug-toolbar = "*"
pillow = "*"
django-autoslug = "*"
django-filter = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"

[requires]
python_version = "3.10"
